.all-tweets {
  border: 3px solid black;
  width: 50%;
}

article.tweet header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.tweeted {
  border: 0px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

article.tweet footer {
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: bold;
  border-top: 3px solid black;
  margin-top: 15px;
}

.bottom-tweet {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 15px;
  width: 100%;
}

article.tweet {
  padding: 22px;
}

.avatar {
  font-size: 48px;
}

.emojis {
  display: flex;
  justify-content: flex-end;
  color: rgb(93, 93, 229);
}

.handle {
  color: rgb(0, 105, 140);
}

.flag:hover {
  color: orange;
}

.heart:hover {
  color: orange;
}

.retweet:hover {
  color: orange;
}

.all-tweets:hover {
  box-shadow: 5px 10px rgb(93, 93, 229);
}