.nav-bar {
  height: 120px;
  width: 100vw;
  top: 0;
  z-index: 2;
  color: #FFFFFF;
  position: fixed;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-family: "Bungee", sans-serif;
}

@media only screen and (min-width:1024px) {
  .nav-bar {
    background-color: #4056A1;
  }
}