.new-tweet {
  display: flex;
  flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 30px;
}

.tweet-click {
  background-color: #4056A1;
  color: #FFFFFF;
  border: 0px;
  cursor: pointer;
}

textarea {
  border: 0px;
  border-bottom: 3px solid black;
  background-color: #f4f1ec;
  width: 100%;
}

.message {
  width: 100%;
}

.buttons {
  width:100%;
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
}

.over {
  color: red;
}

.errors {
  display: flex;
  justify-content: center;
}

.error-empty, .error-exceeds {
  color: red;
  font-weight: 550;
  display: none;
  float: left;
  border: 3px solid red;
  padding: 10px;
}